<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Ionic iBeacon</title>

  <!-- compiled css output -->
  <link href="css/ionic.app.min.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- AngularJS wrapper from nraboy -->
  <script src="js/ng-cordova-beacon.min.js"></script>

  <!-- app's js -->
  <script src="js/app.js"></script>

</head>
<body ng-app="starter">

<ion-pane>

<ion-header-bar class="bar bar-dark bar-black">
  <h1 class="title">VCD iBeacon</h1>
</ion-header-bar>

<!-- Content -->
<ion-content ng-controller="iBeaconController">

<!-- Puzzle Level: 0 -->
<div ng-if="puzzle.puzzleLevel == 0" class="puzzle">
  <div class="row hint text-center">
    <div class="col">
      <h1>Boom!</h1>
      <img src="img/hint_test0.png" alt="" width="85%">
        <div style="display: none;">
          <audio controls preload="none" autoplay>
            <source src="media/explode.mp3" type="audio/mpeg"/>
          </audio>
        </div>
    </div>
  </div>
</div>
<!-- /Puzzle Level: 0 -->

<!-- Puzzle Level: 5 -->
<div ng-if="puzzle.puzzleLevel == 5" class="puzzle">
  <div class="row hint text-center">
    <div class="col">
      <h1>Congratulations!</h1>
      <img src="img/hint_test5.gif" alt="">
      <div style="display: none;">
          <audio controls preload="none" autoplay>
            <source src="media/explode.mp3" type="audio/mpeg"/>
          </audio>
      </div>
    </div>
  </div>
</div>
<!-- /Puzzle Level: 0 -->

<!-- Puzzle Level: One -->
<div ng-if="puzzle.puzzleLevel == 1" class="puzzle">
  
  <!-- False & False -->
  <div ng-if="puzzle.isBeaconOneFound == false && puzzle.isBeaconTwoFound == false">
    <p>1FF</p>
    <div ng-repeat="(key, value) in beacons">
      <!-- Indicator -->
        <div class="row" ng-if="value.minor == 1">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{ (1/value.accuracy)*850 | number:0}}px"></div>
                </div>
                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

              </div>
          </div>
        </div>
        <!-- /Indicator -->
    </div>
  </div>

  <!-- True & False -->
  <div ng-if="puzzle.isBeaconOneFound == true && puzzle.isBeaconTwoFound == false">
    <p>1TF</p>
    <div ng-repeat="(key, value) in beacons">
      <!-- Indicator -->
        <div class="row" ng-if="value.minor == 1">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

              </div>
          </div>
        </div>
        <!-- /Indicator -->
    </div>
  </div>

  <!-- False & True -->
  <div ng-if="puzzle.isBeaconOneFound == false && puzzle.isBeaconTwoFound == true">
    <p>1FT</p>
      <!-- Indicator -->
        <div class="row">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

                <div class="found">
                  <img src="img/found1.png" alt="">
                  <img src="img/found2.png" alt="">
                </div>
              </div>
          </div>
        </div>
        <!-- /Indicator -->
  </div>

  <!-- True & True -->
  <div ng-if="puzzle.isBeaconOneFound == true && puzzle.isBeaconTwoFound == true">
    <div class="hint">
      <h1>Here's your hint!</h1>
      <img src="img/hint_test1.png" alt="" width="90%">
    </div>
  </div>
</div>
<!-- /Puzzle Level: One -->

<!-- Puzzle Level: Two -->
<div ng-if="puzzle.puzzleLevel == 2" class="puzzle">
  
  <!-- False & False -->
  <div ng-if="puzzle.isBeaconOneFound == false && puzzle.isBeaconTwoFound == false">
    <p>2FF</p>
    <div ng-repeat="(key, value) in beacons">
      <!-- Indicator -->
        <div class="row" ng-if="value.minor == 2">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

              </div>
          </div>
        </div>
        <!-- /Indicator -->
    </div>
  </div>

  <!-- True & False -->
  <div ng-if="puzzle.isBeaconOneFound == true && puzzle.isBeaconTwoFound == false">
    <p>2TF</p>
    <div ng-repeat="(key, value) in beacons">
      <!-- Indicator -->
        <div class="row" ng-if="value.minor == 2">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

              </div>
          </div>
        </div>
        <!-- /Indicator -->
    </div>
  </div>

  <!-- False & True -->
  <div ng-if="puzzle.isBeaconOneFound == false && puzzle.isBeaconTwoFound == true">
    <p>2FT</p>
      <!-- Indicator -->
        <div class="row">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

                <div class="found">
                  <img src="img/found1.png" alt="">
                  <img src="img/found2.png" alt="">
                </div>
              </div>
          </div>
        </div>
        <!-- /Indicator -->
  </div>

  <!-- True & True -->
  <div ng-if="puzzle.isBeaconOneFound == true && puzzle.isBeaconTwoFound == true">
    <div class="hint">
      <h1>Here's your hint!</h1>
      <div class="row">
        <div class="col">
          <img src="img/hint_test2_1.png" alt="" width="100%">
        </div>
        <div class="col">
          <img src="img/hint_test2_2.png" alt="" width="100%">
        </div>
        <div class="col">
          <img src="img/hint_test2_3.png" alt="" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Puzzle Level: Two -->

<!-- Puzzle Level: Three -->
<div ng-if="puzzle.puzzleLevel == 3" class="puzzle">
  
  <!-- False & False -->
  <div ng-if="puzzle.isBeaconOneFound == false && puzzle.isBeaconTwoFound == false">
    <p>3FF</p>
    <div ng-repeat="(key, value) in beacons">
      <!-- Indicator -->
        <div class="row" ng-if="value.minor == 3">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

              </div>
          </div>
        </div>
        <!-- /Indicator -->
    </div>
  </div>

  <!-- True & False -->
  <div ng-if="puzzle.isBeaconOneFound == true && puzzle.isBeaconTwoFound == false">
    <p>3TF</p>
    <div ng-repeat="(key, value) in beacons">
      <!-- Indicator -->
        <div class="row" ng-if="value.minor == 3">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

              </div>
          </div>
        </div>
        <!-- /Indicator -->
    </div>
  </div>

  <!-- False & True -->
  <div ng-if="puzzle.isBeaconOneFound == false && puzzle.isBeaconTwoFound == true">
    <p>3FT</p>
      <!-- Indicator -->
        <div class="row">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

                <div class="found">
                  <img src="img/found1.png" alt="">
                  <img src="img/found2.png" alt="">
                </div>
              </div>
          </div>
        </div>
        <!-- /Indicator -->
  </div>

  <!-- True & True -->
  <div ng-if="puzzle.isBeaconOneFound == true && puzzle.isBeaconTwoFound == true">
    <div class="hint">
      <h1>Here's your hint!</h1>
      <div class="row">
        <div class="col">
          <img src="img/hint_test3.png" alt="" width="90%">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Puzzle Level: Three -->

<!-- Puzzle Level: Four -->
<div ng-if="puzzle.puzzleLevel == 4" class="puzzle">
  
  <!-- False & False -->
  <div ng-if="puzzle.isBeaconOneFound == false && puzzle.isBeaconTwoFound == false">
    <p>4FF</p>
    <div ng-repeat="(key, value) in beacons">
      <!-- Indicator -->
        <div class="row" ng-if="value.minor == 4">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

              </div>
          </div>
        </div>
        <!-- /Indicator -->
    </div>
  </div>

  <!-- True & False -->
  <div ng-if="puzzle.isBeaconOneFound == true && puzzle.isBeaconTwoFound == false">
    <p>4TF</p>
    <div ng-repeat="(key, value) in beacons">
      <!-- Indicator -->
        <div class="row" ng-if="value.minor == 4">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

              </div>
          </div>
        </div>
        <!-- /Indicator -->
    </div>
  </div>

  <!-- False & True -->
  <div ng-if="puzzle.isBeaconOneFound == false && puzzle.isBeaconTwoFound == true">
    <p>4FT</p>
      <!-- Indicator -->
        <div class="row">
          <div class="col">
             <div class="indicator">
                <img src="img/find.png" alt="">
                <div class="range">
                  <div class="range-meter" style="width:{{(1/value.accuracy)*50 | number:0}}px"></div>
                </div>

                <div class="img-distance">
                  <img src="img/distance.png" alt="">
                </div>

                <div class="found">
                  <img src="img/found1.png" alt="">
                  <img src="img/found2.png" alt="">
                </div>
              </div>
          </div>
        </div>
        <!-- /Indicator -->
  </div>

  <!-- True & True -->
  <div ng-if="puzzle.isBeaconOneFound == true && puzzle.isBeaconTwoFound == true">
    <div class="hint">
      <h1>Here's your hint!</h1>
      <div class="row">
        <div class="col">
          <img src="img/hint_test4.png" alt="" width="90%">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Puzzle Level: Four -->

<div class="bar bar-footer bar-dark">
  <button class="button button-clear pull-left">Level: {{puzzle.puzzleLevel}}</button>
  <button class="button button-clear pull-right">Time Remaining: {{counter | secondsToDateTime | date:'mm:ss'}}</button>
</div>

</ion-content>
<!-- /Content -->

</ion-pane>
</body>
</html>
